@charset "ISO-8859-1";
tr {
	margin: 3px;
	padding: 5px;
	text-align-last: center;
}

thead {
	background-color: wheat;
	margin: 5px;
	padding: 5px;
	font-style: oblique;
	font-size: larger;
}

table {
	border: 5px dodgerblue solid;
	min-width: 60vw;
	min-height: 60vh;
	width: auto;
	height: auto;
}
h1, h3 {
	color: white;
	font-weight: 400;
}
